<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-unidade-heading" jhiTranslate="processoSeletivoApp.unidade.home.createOrEditLabel">Create or edit a Unidade</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!unidade.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="unidade.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.unidade.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="unidade.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.unidade.telefone" for="field_telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone" id="field_telefone"
                        [(ngModel)]="unidade.telefone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.unidade.abreviacao" for="field_abreviacao">Abreviacao</label>
                    <input type="text" class="form-control" name="abreviacao" id="field_abreviacao"
                        [(ngModel)]="unidade.abreviacao" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.unidade.usuario" for="field_usuario">Usuario</label>
                    <select class="form-control" id="field_usuario" name="usuario" [(ngModel)]="unidade.usuario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioOption.id === unidade.usuario?.id ? unidade.usuario : usuarioOption" *ngFor="let usuarioOption of usuarios; trackBy: trackUsuarioById">{{usuarioOption.nome}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.unidade.cidade" for="field_cidade">Cidade</label>
                    <select class="form-control" id="field_cidade" name="cidade" [(ngModel)]="unidade.cidade" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cidadeOption.id === unidade.cidade?.id ? unidade.cidade : cidadeOption" *ngFor="let cidadeOption of cidades; trackBy: trackCidadeById">{{cidadeOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
