<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-usuario-heading" jhiTranslate="processoSeletivoApp.usuario.home.createOrEditLabel">Create or edit a Usuario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!usuario.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="usuario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.usuario.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                        [(ngModel)]="usuario.login" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.usuario.senha" for="field_senha">Senha</label>
                    <input type="text" class="form-control" name="senha" id="field_senha"
                        [(ngModel)]="usuario.senha" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="processoSeletivoApp.usuario.perfil" for="field_perfil">Perfil</label>
                    <select class="form-control" id="field_perfil" name="perfil" [(ngModel)]="usuario.perfil" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="perfilOption.id === usuario.perfil?.id ? usuario.perfil : perfilOption" *ngFor="let perfilOption of perfils; trackBy: trackPerfilById">{{perfilOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
