<div>
    <h2 id="page-heading">
        <span jhiTranslate="processoSeletivoApp.demandaCurso.home.title">Demanda Cursos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demanda-curso" [routerLink]="['/demanda-curso/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="processoSeletivoApp.demandaCurso.home.createLabel">
            Create new Demanda Curso
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="demandaCursos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="processoSeletivoApp.demandaCurso.data">Data</span></th>
            <th><span jhiTranslate="processoSeletivoApp.demandaCurso.resolucao">Resolucao</span></th>
            <th><span jhiTranslate="processoSeletivoApp.demandaCurso.unidade">Unidade</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let demandaCurso of demandaCursos ;trackBy: trackId">
                <td><a [routerLink]="['/demanda-curso', demandaCurso.id, 'view' ]">{{demandaCurso.id}}</a></td>
                <td>{{demandaCurso.data | date:'mediumDate'}}</td>
                <td>{{demandaCurso.resolucao}}</td>
                <td>
                    <div *ngIf="demandaCurso.unidade">
                        <a [routerLink]="['../unidade', demandaCurso.unidade?.id, 'view' ]" >{{demandaCurso.unidade?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/demanda-curso', demandaCurso.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/demanda-curso', demandaCurso.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'demanda-curso/'+ demandaCurso.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
